.external-links-container {
  background-color: #17ad61;
  /* margin: 10px; */
  padding: 20px;
  /* border-radius: 10px; */
}
.external-links-container a {
  text-decoration: none;
  color: #fbfbfb;
  text-align: left;
}

@media screen and (min-width: 720px) {
  .external-links-container h4 {
    font-size: 32px;
  }

  .external-links-container p {
    font-size: 22px;
  }
}
